# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/part-1/node_modules
/part-1/.pnp
.pnp.js

# testing
/part-1/coverage

# production
/part-1/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
